html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raíces | MATRICULA | #{page} 
        link(rel="stylesheet", href="/css/app.css")
    body(class="min-h-screen bg-verde")
        main(class="mx-auto container mt-1000 px-2")
            block contenido
